$color-1-button-form : #008000b8;
$color-2-backdrop : #101010a6;
$color-3 : white;
$color-4-header : #0d6efd;
$color-6-linkedin : #0a66c2;
$color-7-google : #4285f4;
$color-8-facebook : #0165E1;
$color-9-twitter : #1D9BF0;
$color-10-heading-h1 : #3b3333;
$color-11-input : #cbc9c924;
$color-12-input-border : #8080808c;
$color-13-input-label : #352e2e;